* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}


/* contenedor general de toda la pagina */

.general {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/barcelona--644x362.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


/* contenedor de los jugadores */

.jugadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.jugador>img {
    width: 20%;
    border-radius: 50%;
    border: solid 3px white;
}

.salir {
    grid-area: 3 / 16 / 6 / 20;
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    padding: 5%;
}

.salir h3 {
    margin: 10px;
}

.chat {
    text-align: center;
    grid-area: 7 / 16 / 19 / 20;
    background-color: rgba(77, 61, 61, 0.9);
}

.mensajes {
    display: block;
}

.mensaje {
    background-color: rgba(126, 45, 112, 0.7);
    border: 1px solid rgb(177, 34, 160);
    border-radius: 0px 30px 30px 30px;
    margin: 10px;
    width: 50%;
}

.mensaje1 {
    background-color: rgba(126, 45, 112, 0.7);
    border: 1px solid rgb(177, 34, 160);
    border-radius: 30px 0px 30px 30px;
    margin: 10px;
    width: 50%;
    margin-left: 40%;
}

.mensajeenviar {
    padding: 3%;
    background-color: rgba(126, 45, 112, 0.7);
    border: 1px solid rgb(177, 34, 160);
    border-radius: 30px;
    margin: 10px;
}

button {
    background: none;
    cursor: pointer;
    color: white;
}

@keyframes flip {
    from {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
    }
    to {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
    }
}

.muertos {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

.muertos img {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    border: solid 3px white;
}

#muerto:hover {
    animation-duration: 1s;
    backface-visibility: visible;
    animation-name: flip;
}

.logoenviar {
    width: 20px;
    margin-top: 10px;
}

.central {
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.jugadores {
    margin-top: 15%;
}